<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.exam.model.dao.SpecialtyDao">

<insert id = "insertSpecialty" parameterType="Specialty">
INSERT INTO specialty 
VALUES (#{specialtyCode}, #{specialtyName});
</insert>

<select id = "selectSpecialtyByCode" parameterType="int">
SELECT * FROM specialty
WHERE specialty_code = #{specialtyCode};  
</select>

<delete id = "deleteSpecialty" parameterType="int">
DELETE FROM specialty
WHERE specialty_code = #{specialtyCode};  
</delete>

</mapper>